:root {
    --black: #333;
    --darkest: #111;
    --white: #fff;
    --lightgreen: #799a19;
    --lightdark: #1f1f1f;
    --lightblack: #2a2a2a;
    --shadow: rgba(0, 0, 0, 0.2);

    --lightest: #ffffff;
    --darklight: #ffffff;
    --blacklight: #f4f5f6;
    --seriesgerne: #eee;
    --bordercolor: #e4e5e7;
    --borderbottom: 1px solid #dadbdd;
}

/* Navbar  */


/* Welcome Page */

.logo {
    width: 150px;
    height: 50px;
    background-image: url(../../images/ShinoNovelLogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}
a:-webkit-any-link {
    cursor: pointer;
}

li {
    list-style: none;
}

.mainmenu-area {
    /* background: none repeat scroll 0 0 #fbfbfb; */
    font-family: roboto condensed, sans-serif;
    /* text-transform: uppercase; */
    width: 100%;
    font-weight: 600;
    z-index: 999;
}

.mainmenu-area a:hover {
    text-decoration: none;
}

.searchbutton  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/* Novel Page */


.top-part {
    padding: 10px;
}
.series-name-group {
    margin-bottom: 10px;
}
.series-name {
    display: block;
    font-weight: 700;
    font-size: 30px;
}
.series-information {
    margin-bottom: 20px;
}
.series-gerne-item {
    background-color: #eee;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 10px;
}
.info-item {
    margin-bottom: 10px;
}
.info-item .info-name {
    font-weight: 700;
    margin-right: 6px;
}
.summary-wrapper {
    border-top: 1px solid #d4dae2;
    margin-top: 10px;
    padding-top: 10px;
}
.series-summary {
    margin-bottom: 10px;
}
h4 {
    color: #333;
    font-weight: 700;
    margin-bottom: 0.2em;
}


a:hover {
    text-decoration: none;
    color: #799a19;
}


.basic-section {
    margin-bottom: 20px;
    background-color: hsla(0,0%,100%,.9);
    border-color: #e4e5e7 #dadbdd hsla(210,4%,80%,.8);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.basic-section .sect-header {
    font-weight: 700;
    background-color: #f4f5f6;
    border-bottom: 1px solid #dadbdd;
    padding: 10px;
}

.volume-list.at-series .sect-title {
    display: block;
    padding-right: 60px;
}


ul.list-chapters {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

ul.list-chapters li {
    padding: 10px 10px;
    position: relative;
}

ul.list-chapters li .chapter-name {
    padding-right: 86px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.list-chapters li .chapter-time {
    color: #aaa;
    font-size: 1rem;
    position: absolute;
    right: 10px;
    top: 10px;
}


.feature-section {
    margin-bottom: 20px;
    background-color: hsla(0,0%,100%,.9);
    border-color: #e4e5e7 #dadbdd hsla(210,4%,80%,.8);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.img-cover-small img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;

}

.series-users {
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: hsla(0,0%,100%,.9);
    border-color: #e4e5e7 #dadbdd hsla(210,4%,80%,.8);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.series-users .series-owner {
    background-color: #36a189;
    display: block;
    position: relative;
    width: 100%;
}

.series-users .series-owner img {
    display: block;
    height: 60px;
    width: 60px;
    z-index: 2;
}

.series-users .series-owner_name a {
    color: #fff;
}

.series-users .series-owner-title {
    left: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.series-users .series-owner_name {
    font-weight: 700;
    padding-right: 20px;
}


.novelpage a:hover {
    text-decoration: none;
    color:#36a189;
}

.series-owner_name a:hover {
    color: #ffffff;
}



/* Category Page */



.gridlist {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.gridlist .glitem {
    display: block;
    width: 150px;
    height: 170px;
    position: relative;
    margin-bottom: 50px;
}

a.series-name {
    margin-left: 5%;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0;
    width: 90%;
    margin-bottom: -25px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #799a19;
}

a.series-name:hover {
    color: #337ab7;
    text-decoration: none;
}

.gridlist .glitem .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
}

.b_title {
    border-top: 3px solid #799a19;
    padding-top: 7px;
    margin-bottom: 30px;
}

.b_title strong {
    color: #fff;
    background: #799a19;
    padding: 10px 15px;
    font-weight: 700;
}

/* Chapter Page */

.reading-content, .reading-content h2, .reading-content h4, .reading-content h5 {
    line-height: 1.5em;
}

h2, h3, h4 {
    color: #333;
    font-weight: 700;
    margin-bottom: 0.2em;
}

#chapter-content {
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
}

.rd-basic_icon {
    background-color: #eee;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    height: 40px;
    margin: 30px 0;
    overflow: hidden;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.rd-basic_icon a {
    cursor: pointer;
    font-size: 20px;
    padding: 8px;
}

.isDisable {
    color: currentColor;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
}


/* Completed Page */



.gridlist {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.gridlist .glitem {
    display: block;
    width: 150px;
    height: 170px;
    position: relative;
    margin-bottom: 50px;
}

a.series-name {
    margin-left: 5%;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0;
    width: 90%;
    margin-bottom: -25px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #799a19;
}

a.series-name:hover {
    color: #337ab7;
}

.gridlist .glitem .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
}

.b_title {
    border-top: 3px solid #799a19;
    padding-top: 7px;
    margin-bottom: 30px;
}

.b_title strong {
    color: #fff;
    background: #799a19;
    padding: 10px 15px;
    font-weight: 700;
}

.see-more {
    height: 100%;
    background-color: rgba(12,12,12,.63);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
}

.btn-see-more-icon {
    font-size: 65px;
    padding: 25% 0 0 40px;
    position: absolute;
    color: #fff;
}


/* Home Page */



.gridlist {
    display: flex;
    flex-wrap: wrap;
}

.gridlist .glitem {
    display: block;
    width: 150px;
    height: 170px;
    position: relative;
    margin-bottom: 50px;
}

a.series-name {
    margin-left: 5%;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0;
    width: 90%;
    margin-bottom: -25px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #799a19;
}

a.series-name:hover {
    color: #337ab7;
}

.gridlist .glitem .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
}

.b_title {
    border-top: 3px solid #799a19;
    padding-top: 7px;
    margin-bottom: 30px;
}

.b_title strong {
    color: #fff;
    background: #799a19;
    padding: 10px 15px;
    font-weight: 700;
}

.see-more {
    height: 100%;
    background-color: rgba(12,12,12,.63);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
}

.btn-see-more-icon {
    font-size: 65px;
    padding: 25% 0 0 40px;
    position: absolute;
    color: #fff;
}



/*     Slide Page       */

.top-tab_title.title-active {
    background-color: rgba(25,26,26,.8);
    color: #fff;
    display: inline-block;
    padding: 4px 8px;
}

.top-tab_title {
    border-bottom: 2px solid transparent;
    color: #aaa;
    font-weight: 700;
    margin-right: 10px;
}

.top-tab_title.title-active i {
    color: #f0bc00;
    display: inline;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.b_title {
    border-top: 3px solid #799a19;
    padding-top: 7px;
    margin-bottom: 30px;
}

.b_title strong {
    color: #fff;
    background: #799a19;
    padding: 10px 15px;
    font-weight: 700;
}

.slide-item {
    display: block;
    height: 220px;
    position: relative;
    margin-bottom: 15px;
}

.slide-item .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
}

.owl-carousel .owl-item img {
    width: 90%;
}

.slide-item .series-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.5) 20%,rgba(0,0,0,.9));
}

.slide-item .series-info .series {
    font-size: 16px;
    margin-top: 15px;
    height: 44px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    font-weight: 1000;
}

.slide-item .series-info .series:hover {
    color: #799a19;
}

.tin-tuc a {
    color: #799a19; 
}

.tin-tuc a:hover {
    text-decoration: none;
    color: #337ab7;
}

.tin-tuc .note {
    margin-bottom: 30px;
    float: right;
}
